.sidebarOption {
  /* color: #50b7f5; */
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid red;
  margin: 0;
  padding: 0 0.5rem;
}

.sidebarOption:hover {
  background-color: rgb(212, 212, 212);
  border-radius: 30px;
  transition: 150ms ease-out;
}
.sidebarOption > .MuiSvgIcon-root {
  padding: 13px;
}

.sidebarOption--active {
  font-weight: bold;
}
