.post {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  display: flex;
  border-bottom: 1px solid var(--twitter-background);
  /* column-gap: 10px; */
}
.post_avatar .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  margin-left: 13px;
}
.post_body {
  padding-left: 10px;
  width: 100%;
}
.post_header {
  display: flex;
  justify-content: space-between;
}

.post_headerNames {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post_description {
  margin: 1rem;
  margin-left: 0;
}
.post_description > p {
  font-size: 1.1rem;
}
.post_image {
  margin-bottom: 10px;
}
.post_image > img {
  width: 100%;
  border-radius: 1rem;
  object-fit: contain;
  margin-bottom: 1rem;
}
.post_actions {
  display: flex;
}
.post_actions > div {
  width: 25%;
  display: flex;
  align-items: center;
}
.post_actions > div > span {
  margin-left: 7px;
}
.post_actions i {
  font-size: 25px;
}
